.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;
  overflow: hidden;
}
.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}
.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding: 20px 20px 20px 20px;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
}
.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 23px;
  height: 18px;

  border: none;
  cursor: pointer;
}
.card__like-button:hover {
  opacity: 0.5;
}
.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin: 0;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 282px;
}
