.footer {
  padding: 35px 0 60px;
}
.footer__copyright {
  margin-bottom: 0;
  margin-top: 0;
  color: #545454;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
}

@media screen and (max-width: 320px) {
  .footer {
    padding: 30px 0 36px;
  }
}
