.header {
  margin-top: 45px;
  border-bottom: rgb(84 84 84 / 0.7) 1px solid;
  padding-bottom: 41 px;
}

.header_logo {
  max-width: 126px;
  height: 24px;
  margin-left: 27px;
}
@media screen and (max-width: 20) {
  .header__logo {
    max-width: 282px;
    height: 144px;
  }
}
