.header {
  padding-top: 45px;
  border-bottom: rgb(84 84 84 / 0.7) 1px solid;
  padding-bottom: 41px;
}

.header_logo {
  max-width: 126px;
  height: 24px;
  margin-left: 27px;
}
@media screen and (max-width: 480px) {
  .header__logo {
    max-width: 126px;
    height: 24px;
    margin-left: 27px;
  }
  .header {
    width: 100%;
    padding-bottom: 32px;
    margin-top: 28px;
  }
}
