/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  padding: 0 19px;
  /*display: none;*/
}
.modal__opened {
  display: flex;
}
.modal__container {
  padding: 36px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
}
.modal__close {
  border: none;
  background-image: url("../images/close-icon.svg");
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: calc(100% =5px);
  left: calc(100% =5px);
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: contain;
  /* cursor: pointer;*/
}
.modal__heading {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
  padding: 0;
  width: 330px;
  height: 23px;
  color: #000;
  position: relative;
  margin-left: 32px;
}
