/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  padding: 0 19px;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_opened {
  visibility: visible;
}

/* Desktop */
.modal__container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: none;

  width: 430px;
  height: 330px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 12px;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.modal__close {
  background-image: url("../images/Close-Icon.svg");
  border: none;
  position: absolute;
  top: -36px;
  right: -36px;
  width: 26px;
  height: 26px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 1000;
}

.modal__heading {
  width: 330px;
  height: 23px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  color: #000;
  margin: 34px 0 0 36px;
  box-sizing: border-box;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 358px;
  height: 30px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin: 30px 0 0 36px;
  padding: 0;
  box-sizing: border-box;
}

.modal__button {
  background-color: #000;
  color: white;
  border: none;
  border-radius: 2px;
  width: 358px;
  height: 50.15px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 30px 0 0 36px;
  padding: 0;
  cursor: pointer;
}

/* Mobile */
@media screen and (max-width: 320px) {
  .modal__container {
    position: relative;
    top: 0;
    left: 0;
    width: 282px;
    height: 322px;
    padding: 25px 22px;
    border-radius: 10px;
    margin: auto;
  }

  .modal__heading {
    width: 238px;
    height: 22px;
    font-size: 18px;
    font-weight: 900;
    line-height: 100%;
    margin: 0 0 18px 0;
    color: #000;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    top: -36px;
    right: -36px;
  }

  .modal__input {
    width: 238px;
    height: 27px;
    font-size: 14px;
    left: 0;
    top: 0;
    margin-bottom: 5px;
  }

  .modal__button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    left: 0;
    top: 18px;
  }
}
