.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}
.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: center;
}
.profile__edit-button {
  background: transparent url(../images/edit-icon.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px #ffff;
}
.profile__edit-button:hover {
  opacity: 60%;
  cursor: pointer;
}
.profile__add-button {
  background: transparent url(../images/add-icon.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border-radius: 2px;
  border: 2px solid #ffff;
}
.profile__add-button:hover {
  opacity: 60%;
  cursor: pointer;
}
.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 737px;
}

.profile__description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  max-width: 373px;

  font-family: "Inter", Arial, Helvetica, sans-serif;
}
.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .profile__description {
    width: 100%;
    text-align: center;
  }
  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}
